@import url('./global.css');

/* ------------ HEADER ------------ */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-neutral-silver);
    border-bottom: 1px solid gray;
}

.logo{
    padding: 30px 0px;
}

.nav-header ul{
    display: flex;
    list-style: none;
    gap: 50px;
}

.nav-header ul a{
    text-decoration: none;
    color: #18191F;
}

.active{
    font-weight: bold;
}

.btn-login{
    color: var(--color-primary);
    background-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-SignUp{
    color: var(--color-neutral-white);
    padding: 10px 20px;
    background-color: var(--color-primary);
    border-radius: 6px;
    cursor: pointer;
}

.btn-header{
    gap: 14px;
    padding: 22px 0px;
}
main {
    display: flex;
    justify-content: center; /* Horizontal alinhado no centro */
    align-items: center; /* Vertical alinhado ao centro */

    gap: 104px;
    padding: 96px 0px;
    background-color: var(--color-neutral-silver);
}
h1 {
    font-size: 64px;
    color: var(--color-neutral-d_grey);
    font-weight: 600; /* aqui não vai "px" */
}
h1 span {
    color: var(--color-primary);
}
.content-lessons {
    width: 657px;
}

.content-lessons p {
    margin-top: 16px;
}
    
.btn-primary {
    color: var(--color-neutral-white);
    background-color: var(--color-primary);
    padding: 14px 32px;
    border-radius: 4px;
    margin-top: 32px;
    cursor: pointer;
}
.our-clients {
    text-align: center;
}
.our-clients p {
    margin-top: 8px;
}
.logo-clients {
    display: flex;
    justify-content: center;
    gap: 136px;
    padding: 25px 0px ;
    background-color: darkkhaki;
    margin-top: 16px;
}
.manager-system {
    margin-top: 40px;
    text-align: center;
}
.manager-system h2 {
    width: 542px;
    margin: 0 auto;
}
#manager-system-subtitle {
    margin-top: 8px;
}
.cards-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 127.5px;
}
.cards-container article {
    width: 299px;
    height: 260px;
    box-shadow: 10px 10px 4px rgb(171, 190, 209, 0.2);
    padding: 24px 16px;
    border: 1px solid lightgray;
    text-align: center;
    border-radius: 8px;
    transition: 0.5s; /* Funciona em "parceria" com transform do :hover */
}
.cards-container article:hover {
    /* box-shadow: 30px 30px 12px rgba(247, 42, 42, 0.5); */
    box-shadow: 30px 30px 12px rgb(171, 190, 209, 0.2);
    transform: translateY(-8px);
}
.cards-container article img {
    width: 65px;
    height: 56px;
}
.cards-container article h3 {
    color: var(--color-neutral-d_grey);
    font-size: 28px;
    margin-bottom: 8px;
    width: 231px;
    margin: o auto;
}
.cards-container article p {
    margin-top: 8px;
    font-size: 14px;
    line-height: 1.6;
}

.pixelgrade {
    display: flex;
    justify-content: center;

    margin-top: 42px;
    padding: 52px;
    gap: 49px;
}
/*
.pixelgrade img {
    border: 1px solid gray;
}
    */
.pixelgrade-content {
    width: 661px;
    height: 82.5;
    margin-top: 82.5px;
}

.pixelgrade-content h2 {
    color: var(--color-neutral-d_grey);
    font-size: 36px;
    width: 526px;
}
.pixelgrade-content p {
    /* color: var(--color-neutral-d_grey); -> Esta estilizado na global.css */
    font-size: 14px;
    margin-top: 16px;
}

/* Session helping */
.helping-local{
    display: flex;
    justify-content: center;
    margin: 48px 0px;
    background-color: var(--color-neutral-silver);
    align-items: center;
    gap: 204px;
    padding: 64px 0px;
}
.helping-content h2{
    width: 390px;
}
.helping-content h2 span{
    color: var(--color-primary);
}
.helping-content p{
    margin-top: 8px;
    color: #18191F;
}
.helping-statistic{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;    
}
.helping-itens{
    text-align: start;
}

/* mobile-login-pana */
.mobile-login-pana {
    display: flex;
    justify-content: center;
    gap: 49.47px;
}
.mobile-login-pana-content {
    width: 601px;
    align-items: center;
    margin: 62.7px 144px 62.7px 0;
}
.mobile-login-pana-content h2 {
    color: var(--color-neutral-d_grey);
}
.mobile-login-pana-content p {
    color: var(--color-neutral-d_grey);
    margin-top: 16px;
    margin-bottom: 32px;
}

/* Customer */
.customers {
    background-color: var(--color-neutral-silver);
    display: flex;
    gap: 78px;
    justify-content: center;
}
.customers-content {
    width: 748px;
}
.customers p {
    line-height: 1.5;
    margin-bottom: 16px;
    color: var(--color-neutral-d_grey);
}
.customers-content p:nth-of-type(2) {
    color: var(--color-neutral-L_grey);
}
.customers-content h2 {
    color: var(--color-primary);
    font-size: 20px;
    margin-bottom: 8px;
}
.customers-container {
    display: flex;
    gap: 32px;
}
.customers-items {
    display: flex;
    gap: 41px;
}
.customers-items img {
    width: 40px; /*pq as imgs estavam distorcidas */
}
.customers-navigation a {
    display: flex;

    text-decoration: none;
}
.customers-navigation a p {
    color: var(--color-primary);
    margin: 0;
}