@import url("/src/styles/global.css");

.logo {
    padding: 30px 0px;
}
header {
    display: flex;
    justify-content: space-around; /* alinhamento horizontal*/
    align-items: center; /* alinhamento vertical*/

    background-color: var(--color-neutral-silver);
    /*
    border: 1px solid black;
    width: 1440px;
    height: 84px;
    */
}
.nav-header ul {
    display: flex;
    list-style: none;
    gap: 50px;
}
.nav-header ul a 
{
    text-decoration: none;
    color: #18191F;
}


.btn-login {
    color: var(--color-primary);
    background-color: transparent; /* Isso serve para botão */
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
}
.btn-Singup {
    background-color: var(--color-primary);
    color: var(--color-neutral-white);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}
.btn-header {
    gap: 14px;
    padding:  22px 0px;
}
.active {
    font-weight: bold;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-neutral-white);
    padding: 14px 32px;
    border-radius: 4px;
    cursor: pointer;
}